/* .card{
    position:relative;
    display:flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(240, 248, 255);
    background-clip: border-box;
    border: 1px solid blue;
    border-radius: 0px;
} */